<div class="container">
	<div class="row" style="width: 100%; margin: 50px auto;">
		<h4 style="margin-bottom: 20px; border-left: 2px solid #FF4F02; padding: 10px;">Dream List</h4>
	</div>
</div>
<div class="container">
	<div class="row" style="width: 100%;>
	<%= form_tag(search_dreams_path,:method => 'get') do %>
	<%= text_field_tag :search %>
	<%= submit_tag 'Search', :title => nil %>
	<% end %>
	<div class="a"><%# コメントアウト　%>
		<ul class="list">
			<% @dreams.each do |dream| %>
			<li>
				<div class="img">
					<figure>
						<%= attachment_image_tag dream.user, :profile_image, fallback: "no_image.jpg", style:"width:200px; height:200px; "%>
					</figure>
				</div>
				<div class="text">
					<p class="date"><%= dream.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
					<div class="dream-title"><%= link_to dream.title, dream_path(dream.id) %></div>
					<p class="name">投稿者　<%= link_to dream.user.name, user_path(dream.user) %></p>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>
