<%= render 'layouts/header' %>
<div class="container">
	<div class="row" style="width: 100%; margin: 50px auto;">
		<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">マイページ</h4>
	</div>
	<div class="row">
		<div class="text-center">
			<tr>
				<th><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></th>
			</tr>
			<tr>
				<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>氏名</th>
				<td><%= current_user.name %></td>
			</tr>
			<tr>
	</div>
</div>


	<%= form_for(@dream, url: '/dreams') do |f| %>
	<% if @dream.errors.any? %>
	<div class="error_explanation">
		<h3><%= pluralize(dream.errors.count, "error") %> prohibited this obj from being saved:</h3>
		<ul>
			<% dream.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="row">
		<h3 class="dream-post">夢を投稿しよう</h3>
		<div class="field row">
			<h4><u>Title</u></h4>
			<%= f.text_field :title, class: "col-xs-12", id: "inputTitle" %>
		</div>

		<div class="field row">
			<h4><u>Option</u></h4>
			<%= f.text_area :body, class: "col-xs-12 book_body" %>
		</div>

		<div class="actions row">
			<%= f.submit class: "btn-square-little-rich col-xs-12" %>
		</div>
		<% end %>
	</div>

<% @dreams.each do |dream| %>
<%= dream.title %>
<%= dream.body %>
<% end %>

<%= link_to "TOPPAGE", root_path %>
</div>
