<%= render 'layouts/header' %>
<div class="container">
	<div class="row" style="width: 100%; ">
	<h1 class="toppage-mainvisual-title">あなたの夢を共有しよう</h1>
	<h3 class="toppage-mainvisual-subtitle">自分が叶えたい夢を投稿し<br>
		その夢に共感を持った人と一緒に<br>
	夢を叶えよう！！</h3>
</div>
</div>

<div class="container">
	<div class="row" style="width: 100%; margin: 50px auto;">
		<u><h1 class="toppage-intro">D-connectで出来る事</h1></u>
		<h3 class="toppage-subintro">同じ夢を持つ者同士力を合わせて<br>
			知識や意見を共有し<br>
		夢の実現に向かって活動できます。</h3>
	</div>
</div>



<div class="container">
	<div class="row" style="width: 100%; margin: 50px auto;">
	<div class="toppage-item clearfix">
		<div class="item">
			<h4 class="item-title">まずは新規登録しよう☆</h4>
			<div class="item-image">
			<%= image_tag 'iphone.png' %></div>
			<p class="item-intro">新規登録して<br>
			コミュニティに参加しよう！</p>
		</div>
		<div class="item">
		<h4 class="item-title">叶えたい夢を投稿しよう☆</h4>
			<div class="item-image">
			<%= image_tag 'iphone.png' %></div>
			<p class="item-intro">自分の夢を世界に<br>
			広めよう！</p>
		</div>
		<div class="item">
		<h4 class="item-title">夢を共有して
		一緒に夢を叶えよう☆</h4>
			<div class="item-image">
			<%= image_tag 'iphone.png' %></div>
			<p class="item-intro">その夢に共感してくれた人と<br>
			マッチングしよう！</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="width: 100%; margin: 50px auto;">
		<h2 class="toppage-login">新規登録して始めよう！</h2>
		<div class="text-center">
		<%= link_to "新規登録",new_user_registration_path,class: "btn btn-primary col-xs-12,col-xs-offset-1" %><br>
		<%= link_to "ログイン",new_user_session_path,class: "btn btn-primary col-xs-12,col-xs-offset-1" %>
	</div>

