<header>
  <nav class=navbar-brand-center" style="background-color: #FFAD90;">
    <div class="container">
      <span class="nav navbar-nav navbar-left"></span>
      <p class="navbar-brand">D-Connect</p>
    <ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? %>
			<li class="nav-list-item"><%= link_to 'MY PAGE', user_path(current_user), class: "nav-link disabled" %></li>
			<li class="nav-list-item"><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete,class: "nav-link disabled" %></li>
			<li class="nav-list-item"><%= link_to 'a', dreams_path, class: "glyphicon glyphicon-search" %></li>

	<% else %>
		<li class="nav-list-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link disabled" %></li>
		<li class="nav-list-item"><%= link_to 'LOGIN', new_user_session_path, class: "nav-link disabled" %></li>
</nav>
<% end %>
</ul>
</div>
</header>

